 <!--Import the objCategoryList from the controller -->
@model List<Product>

<div class="container">
    <div class="row pt-4">

        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>Create New Product
            </a>
        </div>

    </div>
    <table id="tblData" class="table table-bordered table-striped">
        <thread>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Author
                </th>
                <th>
                    Price
                </th>
                <th>
                    Category
                </th>

                <th></th>
            </tr>
        </thread>
        <tbody>
            <!--Use C# Code to move thru the category list,and show the information -->
            <!--Model HAS to be in Uppercase first letter -->

        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}

